.form{
    position: relative;
    width: 1400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.form-container{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;

}