

.navbar {
  background-color: #EB1D78;
  padding: 1rem 2rem;
  border-bottom: 1px solid ;
  width: 100vw;
    
  a{
    text-decoration: none;
    color: #d9d9d9;
    text-transform: uppercase;
    font-weight: bold;
  }
}
