$light: #ffffff;
$gray: #c4ccde;

.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid #840968;
    background-color: #a157bb;
      ul{
        list-style: none;
        padding: 1rem 2rem;
        li{
          margin-bottom: 1rem;
          a{
            text-decoration: none;
            color:black
          }
        }
      }
  }